<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.app2-MOG"
version = "1.0.0">

<name>PhoneGap-Noel</name>

<description>
Aplicacion que describe el funcionamiento de PhoneGap
</description>

<author email="sonoel_97@hotmail.com">
Noel Sánchez
</author>

<icon src="img/buildbot-hero.png" gap:density="ldpi" gap:platform="android" />
<icon src="img/buildbot-hero.png" gap:density="mdpi" gap:platform="android" />
<icon src="img/buildbot-hero.png" gap:density="hdpi" gap:platform="android" />
<icon src="img/buildbot-hero.png" gap:density="xhdpi" gap:platform="android" />

</widget>